<div *ngIf="cookie" class="container mt-5">
  <div class="row">
    <div class="col">
      <h2>Your Account</h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Personal Information</h3>
      <p><b>Name:</b> {{ cookie.FirstName }} {{ cookie.LastName }}</p>
      <p><b>Username:</b> {{ cookie.nc_Portal_Username__c }}</p>
      <p><b>Email:</b> {{ cookie.Email }}</p>
      <p *ngIf="isUser">
        <b>Profile Completed:</b> {{ currentAccount.profileCompleted ? "Yes" : "No" }}
        <span *ngIf="!currentAccount.profileCompleted"
          ><br /><a id="complete-profile-link" href="javascript:void(0)" [routerLink]="'/login/complete-profile'"
            >Click here to complete your profile</a
          ><br
        /></span>
        <span *ngIf="!currentAccount.profileCompleted" class=""
          ><small
            ><i>You must complete your profile before you are able to use the respite search functionality.</i></small
          ></span
        >
      </p>
      <p *ngIf="!isUser" id="account-level-p"><b>Account Level:</b> {{ cookie.privilegeLevel }}</p>
    </div>
    <div *ngIf="isUser" id="cw-info-div" class="col-sm-12 col-md-6 mt-5 mt-md-0">
      <h3>Case Worker Information</h3>
      <p><b>Case Worker Name:</b> {{ cookie.nc_Caseworker_Name_c }}</p>
      <p><b>Case Worker Contact Info:</b> {{ cookie.nc_Caseworker_Contact_Info_c }}</p>
      <p><b>County or Agency Certified By:</b> {{ cookie.nc_Caseworker_Cerifying_County_Agency_c }}</p>
      <p>
        <b>Expiration Date of Certification:</b> {{ getFormattedCertExpiryDate() }}
        <span class="expires-soon bg-danger text-white rounded pb-1 px-2 ml-2" *ngIf="certExpiresSoon"
          ><small>EXPIRES SOON</small></span
        >
        <span class="expires-soon bg-danger text-white rounded pb-1 px-2 ml-2" *ngIf="certExpired"
          ><small>EXPIRED</small></span
        >
      </p>
      <p>
        <a id="edit-cw-link" [routerLink]="'/account/update/case-worker-info'"
          >Click here to update your case worker information.</a
        >
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Address</h3>
      <p>
        {{ cookie.nc_Address__Street__s }}
        <br />{{ cookie.nc_Address__City__s }} {{ cookie.nc_State__c }},
        {{ cookie.nc_Address__PostalCode__s }}
      </p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5 mt-md-0">
      <h3>Phone Number</h3>
      <p><b>Primary Phone Number:</b> {{ cookie.MobilePhone }}</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Password</h3>
      <p><a href="javascript:void(0)" [routerLink]="'/account/update/password'">Update your password</a></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6">
      <h3>Delete Your Account</h3>
      <p><button class="btn btn-danger mt-2 delete-button" (click)="deleteAccount()">Delete Account</button></p>
    </div>
    <div class="col-sm-12 col-md-6 mt-5 mt-md-0" *ngIf="isUser && currentAccount.profileCompleted">
      <h3>Profile</h3>
      <p><i>To view and edit your profile details, navigate to the profile update page.</i></p>
      <button class="btn btn-primary text-white" [routerLink]="'/user/update'">Visit Update Profile Page</button>
    </div>
  </div>
</div>
